:root {
    --bg-color: #fafbfc;
    --text-color: #060607;
    --secondary-text-color: #666666;
    --bar-bg: #9bb1de;
    --bar-progress: #5375b6;
    --bottom-box-bg: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121316;
        --text-color: #d6d8db;
        --secondary-text-color: #888888;
        --bar-bg: #192867;
        --bar-progress: #5d77dd;
        --bottom-box-bg: #18191c;
    }
}

html,
body {
    background-color: var(--bg-color);
    overflow: hidden;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

#bar-and-text {
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

#loading-info {
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-align: center;
}

#background-bar {
    height: 10px;
    width: 100%;
    background-color: var(--bar-bg);
    border-radius: 7px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: var(--bar-progress);
    border-radius: 7px;
    transition: width 0.2s ease;
}

#bottom-box {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--bottom-box-bg);
}

a {
    color: var(--secondary-text-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    text-decoration: none;
}

#bottom-box-container {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
}
